.quiz {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  background-color: #fff;
  width: 100%;
  max-width: 580px;
	min-height: 380px;
  border-radius: 20px;
  box-shadow: 0 3px 25px #dfdfdf, 0 4px 35px #e7e7e7;
  overflow: hidden;
}

.progressBar {
	position: absolute;
	left: 0;
	right: 0;
  top: 0;
	bottom: 0;
	z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(104, 255, 74, 1) 0%,
    rgba(97, 255, 166, 1) 25%,
    rgba(87, 251, 235, 1) 50%,
    rgba(86, 219, 252, 1) 75%,
    rgba(118, 179, 255, 1) 100%
  );
  transition: all 0.3s ease;
}

.progressBarHide {
	position: absolute;
	left: 0;
	right: 0;
  top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 2;
	transition: all 0.3s ease;
}

.quizBody {
  position: absolute;
  left: 7px;
	right: 7px;
	top: 7px;
	bottom: 7px;
	z-index: 10;
	background-color: #fff;
	border-radius: 14px;
  padding: 30px 45px 45px 45px;
}

.quizTitle {
  font-size: 26px;
  padding-bottom: 12px;
  position: relative;
}
.quizTitle::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -45px;
  width: calc(100% + 90px);
  height: 1px;
  background-color: #8f8f8f;
}
